# Holidays - Exploratory Data Analysis, in the context of the WISDom project

### National holidays from 1970 to 2029
### And 3 new holidays of 2018

## Start

### Import necessary libraries

In [1]:
# Basics
import pandas as pd
import numpy as np
import time as tm
import math
# For Exploratory Data Analysis (EDA)
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

### Load dataset

In [4]:
holidays = pd.read_csv('C:/Users/Catarina/Documents/WISDom_Internship/WISDom_InternshipCode/WISDom_Internship/Synthetic_Data/RandomForest/holidays.csv')
# Important: adding to the dataset the national and regional holidays days according to the dataset

#### Visualize data

In [22]:
pd.set_option('display.max_rows', 100)

In [6]:
holidays.head(15)

          date
0   1970-01-01
1   1970-03-27
2   1970-03-29
3   1970-05-28
4   1970-10-05
5   1970-11-01
6   1970-12-01
7   1970-04-25
8   1970-05-01
9   1970-06-10
10  1970-08-15
11  1970-12-08
12  1970-12-25
13  1971-01-01
14  1971-04-09

## Dataset info

#### Features

In [8]:
# Names of columns
print('Feature Names')
print(holidays.columns)

Feature Names
Index(['date'], dtype='object')

#### Data dimension

In [9]:
print('Data Dimension:')
print('Number of Records:', holidays.shape[0])
print('Number of Features:', holidays.shape[1])

Data Dimension:
Number of Records: 764
Number of Features: 1

#### Shape

In [10]:
holidays.shape

(764, 1)

#### Info (types)

In [11]:
# Understand the data type of each feature
# .info() to get a concise summary of the dataframe
holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    764 non-null    object
dtypes: object(1)
memory usage: 6.1+ KB

### Missing values

In [12]:
# Discover how many data is missing
missing = holidays.isnull().sum()

print(missing)

date    0
dtype: int64

In [13]:
# Per summary there aren't null values

### Datetime

#### Check if pandas is handling the DATE column as simple objects or pandas built-in Datetime data type

In [14]:
holidays.date

0      1970-01-01
1      1970-03-27
2      1970-03-29
3      1970-05-28
4      1970-10-05
          ...
759    2029-05-01
760    2029-06-10
761    2029-08-15
762    2029-12-08
763    2029-12-25
Name: date, Length: 764, dtype: object

#### As dealing with simple objects, we need to convert to Datetime

In [15]:
holidays.date = pd.to_datetime(holidays.date)
holidays.date

0     1970-01-01
1     1970-03-27
2     1970-03-29
3     1970-05-28
4     1970-10-05
         ...
759   2029-05-01
760   2029-06-10
761   2029-08-15
762   2029-12-08
763   2029-12-25
Name: date, Length: 764, dtype: datetime64[ns]

### International Holidays

There are 58 international public holidays, according to 
https://indialends.com/indian-holidays-list/international-holiday-calendar

### National Holidays (Portugal)

There are 13 national public holidays, according to https://feriados.com.pt/feriados/portugal/

#### 01-01-2018
Checked

In [19]:
holidays['date'] == '2018-01-01'

0      False
1      False
2      False
3      False
4      False
       ...
759    False
760    False
761    False
762    False
763    False
Name: date, Length: 764, dtype: bool

#### 02-04-2018
Checked

#### 04-04-2018
Checked

#### 25-04-2018
Checked

#### 01-05-2018
Checked

#### 03-06-2018
Checked

#### 10-06-2018
Checked

#### 15-08-2018
Checked

#### 05-10-2018
Checked

#### 01-11-2018
Checked

#### 01-12-2018
Checked

#### 08-12-2018
Checked

#### 25-12-2018
Checked

#### Regional or Municipal Holidays (Barreiro)

28 June - City Elevation Day

#### Regional Holidays (Beja)

10 May - Ascension Thursday

#### Regional Holidays (Almancil - Infraquinta)

7 September - Faro Municipal Holiday

### 3 holidays added to the Excel file
New Holidays File: "holidays_final.csv"