In [2]:
import pandas as pd
import glob

path = r'C:\Users\Catarina\Documents\WISDom_Internship\WISDom_InternshipCode\WISDom_Internship\Processes_Datasets\Original\Concat' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
frame

                       date      value
0       2017-01-01 00:02:30  73.000000
1       2017-01-01 00:07:30  76.403833
2       2017-01-01 00:12:30  85.805667
3       2017-01-01 00:17:30  85.882833
4       2017-01-01 00:22:30  80.014500
...                     ...        ...
104826  2017-12-30 23:32:30  55.356167
104827  2017-12-30 23:37:30  53.998167
104828  2017-12-30 23:42:30  48.799167
104829  2017-12-30 23:47:30  47.415833
104830  2017-12-30 23:52:30  49.011333

[104831 rows x 2 columns]

In [4]:
frame.to_csv("IQ2017_CS4.csv", index=False)