### Basics Libraries and Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Loading data

In [2]:
features = ["date","hour","flow","anomaly"]
df = pd.read_csv('barreiro_ano.csv', sep=';', names=features)
holidays = pd.read_csv('holidays2018.csv',sep=';')

### Basic dataset changes

In [3]:
# drops the anomaly column
df.drop(['anomaly'], axis='columns', inplace=True)

In [4]:
# converts hour in indexes
indexes={'00:07:30':0, '00:22:30':1, '00:37:30':2, '00:52:30':3,
         '01:07:30':4, '01:22:30':5, '01:37:30':6, '01:52:30':7,
         '02:07:30':8, '02:22:30':9, '02:37:30':10, '02:52:30':11,
         '03:07:30':12, '03:22:30':13, '03:37:30':14, '03:52:30':15,
         '04:07:30':16, '04:22:30':17, '04:37:30':18, '04:52:30':19,
         '05:07:30':20, '05:22:30':21, '05:37:30':22, '05:52:30':23,
         '06:07:30':24, '06:22:30':25, '06:37:30':26, '06:52:30':27,
         '07:07:30':28, '07:22:30':29, '07:37:30':30, '07:52:30':32,
         '08:07:30':32, '08:22:30':33, '08:37:30':34, '08:52:30':35,
         '09:07:30':36, '09:22:30':37, '09:37:30':38, '09:52:30':39,
         '10:07:30':40, '10:22:30':41, '10:37:30':42, '10:52:30':43,
         '11:07:30':44, '11:22:30':45, '11:37:30':46, '11:52:30':47,
         '12:07:30':48, '12:22:30':49, '12:37:30':50, '12:52:30':51,
         '13:07:30':52, '13:22:30':53, '13:37:30':54, '13:52:30':55,
         '14:07:30':56, '14:22:30':57, '14:37:30':58, '14:52:30':59,
         '15:07:30':60, '15:22:30':61, '15:37:30':62, '15:52:30':63,
         '16:07:30':64, '16:22:30':65, '16:37:30':66, '16:52:30':67,
         '17:07:30':68, '17:22:30':69, '17:37:30':70, '17:52:30':71,
         '18:07:30':72, '18:22:30':73, '18:37:30':74, '18:52:30':75,
         '19:07:30':76, '19:22:30':77, '19:37:30':78, '19:52:30':79,
         '20:07:30':80, '20:22:30':81, '20:37:30':82, '20:52:30':83,
         '21:07:30':84, '21:22:30':85, '21:37:30':86, '21:52:30':87,
         '22:07:30':88, '22:22:30':89, '22:37:30':90, '22:52:30':91,
         '23:07:30':92, '23:22:30':93, '23:37:30':94, '23:52:30':95}

# in order to apply the indexes
df['hour'] = [indexes[item] for item in df['hour']]

In [5]:
# pass the date columns to the index
df['date'] = pd.to_datetime(df['date'], dayfirst=True).dt.strftime('%Y-%m-%d').astype(str)
df['date'] = pd.DatetimeIndex(data=df['date'], dtype='datetime64[ns]', name='date', freq=None)
df = df.set_index('date')
# due to errors, we passed the date as an index of the dataset

In [6]:
pd.set_option("display.max_rows", 200)
df.head(200)

            hour       flow
date
2018-01-01     0  18.333067
2018-01-01     1  18.333067
2018-01-01     2  19.784872
2018-01-01     3  22.294744
2018-01-01     4  27.229756
2018-01-01     5  27.615883
2018-01-01     6  26.663889
2018-01-01     7  24.244111
2018-01-01     8  22.159583
2018-01-01     9  18.577917
2018-01-01    10  21.033250
2018-01-01    11  21.764244
2018-01-01    12  16.676861
2018-01-01    13  19.641456
2018-01-01    14  18.404778
2018-01-01    15  14.274144
2018-01-01    16  14.929328
2018-01-01    17  13.771383
2018-01-01    18  12.257361
2018-01-01    19  11.547061
2018-01-01    20  18.924483
2018-01-01    21  25.860844
2018-01-01    22  28.645564
2018-01-01    23  22.815256
2018-01-01    24  16.732894
2018-01-01    25  11.912972
2018-01-01    26  17.110244
2018-01-01    27  16.436706
2018-01-01    28  12.103372
2018-01-01    29  15.571689
2018-01-01    30  15.850794
2018-01-01    32  12.696561
2018-01-01    32  15.739394
2018-01-01    33  17.447878
2018-01-01    34  17.324889
2018-01-01    35  19.821306
2018-01-01    36  20.762122
2018-01-01    37  23.702389
2018-01-01    38  25.091006
2018-01-01    39  26.392150
2018-01-01    40  32.499356
2018-01-01    41  33.292439
2018-01-01    42  32.797761
2018-01-01    43  37.279261
2018-01-01    44  46.571506
2018-01-01    45  45.176117
2018-01-01    46  47.853558
2018-01-01    47  46.685628
2018-01-01    48  46.988278
2018-01-01    49  46.861606
2018-01-01    50  41.012994
2018-01-01    51  41.027717
2018-01-01    52  39.621700
2018-01-01    53  39.982544
2018-01-01    54  38.673428
2018-01-01    55  35.195306
2018-01-01    56  31.925128
2018-01-01    57  32.441906
2018-01-01    58  28.628389
2018-01-01    59  28.824561
2018-01-01    60  27.574822
2018-01-01    61  23.467828
2018-01-01    62  28.371622
2018-01-01    63  28.226678
2018-01-01    64  25.823739
2018-01-01    65  27.769261
2018-01-01    66  23.680606
2018-01-01    67  25.345711
2018-01-01    68  26.844192
2018-01-01    69  26.305989
2018-01-01    70  31.035583
2018-01-01    71  28.651567
2018-01-01    72  27.762839
2018-01-01    73  24.682389
2018-01-01    74  22.298206
2018-01-01    75  26.644944
2018-01-01    76  28.481906
2018-01-01    77  26.772428
2018-01-01    78  24.614983
2018-01-01    79  24.083039
2018-01-01    80  28.674156
2018-01-01    81  26.589356
2018-01-01    82  26.286700
2018-01-01    83  25.973772
2018-01-01    84  26.422789
2018-01-01    85  26.820856
2018-01-01    86  23.194106
2018-01-01    87  22.036933
2018-01-01    88  21.542819
2018-01-01    89  22.624994
2018-01-01    90  21.292067
2018-01-01    91  16.770839
2018-01-01    92  16.916267
2018-01-01    93  17.016261
2018-01-01    94  17.434139
2018-01-01    95  16.586483
2018-01-02     0  15.008750
2018-01-02     1  13.375950
2018-01-02     2  12.083542
2018-01-02     3  12.161200
2018-01-02     4  25.701713
2018-01-02     5  22.952456
2018-01-02     6  18.163328
2018-01-02     7  17.269211
2018-01-02     8  13.201156
2018-01-02     9  10.882756
2018-01-02    10  13.615972
2018-01-02    11  13.487883
2018-01-02    12   9.610756
2018-01-02    13  13.524006
2018-01-02    14  12.227978
2018-01-02    15   8.751128
2018-01-02    16   8.359211
2018-01-02    17   8.644267
2018-01-02    18   9.320872
2018-01-02    19   9.092422
2018-01-02    20  17.004456
2018-01-02    21  23.750317
2018-01-02    22  25.828694
2018-01-02    23  21.852861
2018-01-02    24  19.065261
2018-01-02    25  15.506239
2018-01-02    26  20.549372
2018-01-02    27  23.993039
2018-01-02    28  18.563944
2018-01-02    29  26.222811
2018-01-02    30  23.315750
2018-01-02    32  22.825889
2018-01-02    32  26.901883
2018-01-02    33  26.663911
2018-01-02    34  25.853372
2018-01-02    35  27.032378
2018-01-02    36  27.891244
2018-01-02    37  30.152206
2018-01-02    38  32.228578
2018-01-02    39  30.106272
2018-01-02    40  30.472686
2018-01-02    41  31.317744
2018-01-02    42  28.110633
2018-01-02    43  33.001022
2018-01-02    44  33.373161
2018-01-02    45  39.535422
2018-01-02    46  34.276211
2018-01-02    47  34.361689
2018-01-02    48  35.103444
2018-01-02    49  34.213533
2018-01-02    50  33.693433
2018-01-02    51  32.390244
2018-01-02    52  31.329739
2018-01-02    53  35.534622
2018-01-02    54  34.444267
2018-01-02    55  32.253083
2018-01-02    56  30.456250
2018-01-02    57  31.096817
2018-01-02    58  27.827017
2018-01-02    59  23.259133
2018-01-02    60  23.395317
2018-01-02    61  23.334922
2018-01-02    62  19.790517
2018-01-02    63  19.725811
2018-01-02    64  21.365256
2018-01-02    65  23.407928
2018-01-02    66  25.661628
2018-01-02    67  25.973117
2018-01-02    68  22.319628
2018-01-02    69  28.773556
2018-01-02    70  30.116211
2018-01-02    71  26.365144
2018-01-02    72  27.901589
2018-01-02    73  27.238111
2018-01-02    74  30.495761
2018-01-02    75  28.764272
2018-01-02    76  30.918089
2018-01-02    77  30.671583
2018-01-02    78  29.153011
2018-01-02    79  28.205856
2018-01-02    80  33.344678
2018-01-02    81  29.189061
2018-01-02    82  32.290133
2018-01-02    83  32.650747
2018-01-02    84  31.199403
2018-01-02    85  25.189678
2018-01-02    86  26.392394
2018-01-02    87  23.487461
2018-01-02    88  22.510122
2018-01-02    89  25.612550
2018-01-02    90  25.368944
2018-01-02    91  23.097711
2018-01-02    92  17.714100
2018-01-02    93  17.322278
2018-01-02    94  17.205878
2018-01-02    95  19.148039
2018-01-03     0  15.546826
2018-01-03     1  15.735517
2018-01-03     2  13.808356
2018-01-03     3  13.044394
2018-01-03     4  24.369979
2018-01-03     5  22.727633
2018-01-03     6  17.394683
2018-01-03     7  16.192844

## Lags of time series

### 10 previous readings

In [7]:
# in order to construct a new dataframe with D lagged values
df_lagged = df.copy()
number_lags = 10 # this is D

for i in range(1, number_lags+1):
    shifted = df['flow'].shift(i)
    df_lagged = pd.concat((df_lagged, shifted), axis=1)

In [8]:
# just to label the columns of the resulting dataframe
lagged_cols=["n-"+ str(x) for x in range(1,number_lags+1)]
colnames=["hour","n"]+lagged_cols
df_lagged.columns=colnames
df_lagged.head()

,hour,n,n-1,n-2,n-3,n-4,n-5,n-6,n-7,n-8,n-9,n-10
date,,,,,,,,,,,,
2018-01-01,0,18.333067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01,1,18.333067,18.333067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01,2,19.784872,18.333067,18.333067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01,3,22.294744,19.784872,18.333067,18.333067,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01,4,27.229756,22.294744,19.784872,18.333067,18.333067,NaN,NaN,NaN,NaN,NaN,NaN

### - first day

In [9]:
# in order to drop the first 96 rows
df_lagged = df_lagged.iloc[96:, :]

### Selects data

In [10]:
# to extract only the lagged values for a specific time of the day
# '09:07:30'
X=df_lagged[df_lagged['hour']==36]
X

,hour,n,n-1,n-2,n-3,n-4,n-5,n-6,n-7,n-8,n-9,n-10
date,,,,,,,,,,,,
2018-01-02,36,27.891244,27.032378,25.853372,26.663911,26.901883,22.825889,23.315750,26.222811,18.563944,23.993039,20.549372
2018-01-03,36,29.384411,28.303822,28.019183,32.619433,35.274683,30.146444,35.819239,39.155139,30.970794,27.885411,23.554544
2018-01-04,36,26.402150,30.625439,32.003411,32.124433,32.319306,35.177678,39.074994,39.210860,31.088556,29.551022,23.684256
2018-01-05,36,23.162161,25.266222,25.069714,28.147304,32.233878,30.782600,37.183911,36.682972,27.989978,31.486211,23.892372
2018-01-06,36,32.252917,29.763883,24.828594,24.983883,20.047044,19.578261,20.016311,20.419050,14.961911,20.902456,17.469717
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-27,36,28.926228,25.840367,25.091561,26.449022,26.366422,22.880300,21.540528,21.510583,18.446900,15.844733,14.171133
2018-12-28,36,29.847183,31.235122,28.610106,25.545911,27.475039,21.417922,22.062256,18.795039,18.326167,16.806472,12.424922
2018-12-29,36,28.895756,26.590378,23.702844,24.343911,20.284433,17.317983,14.572317,12.865272,10.646539,10.688817,9.710161
2018-12-30,36,28.315661,24.239617,23.822600,19.399444,16.524283,15.482278,13.567911,11.677278,11.355806,10.127611,8.993256
2018-12-31,36,29.410494,30.357978,19.599775,13.782281,7.392001,13.405550,8.529435,7.751034,3.851197,4.008420,3.416723

### Train test split

In [11]:
# X is the data to predict 9h
y = X['n'].copy()
X = X.drop(['n'], axis = 1)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.4)

In [13]:
# TIME SERIES SPLIT
# Provides train/test indices to split time series data samples that are observed at fixed time intervals, in train/test sets.
# In each split, test indices must be higher than before, and thus shuffling in cross validator is inappropriate.
# This cross-validation object is a variation of KFold. In the kth split, it returns first k folds as train set and the (k+1)th fold as test set.
#import numpy as np
#from sklearn.model_selection import TimeSeriesSplit
#tscv = TimeSeriesSplit(n_splits=1, test_size=2)
#tscv
#for train, test in tscv.split(X):
#    print("TRAIN:", train, "TEST:", test)
#    X_train, X_test = X[train], X[test]
#    y_train, y_test = y[train], y[test]

### SVR training and testing

In [14]:
from sklearn import svm
svr_rbf = svm.SVR(kernel='rbf', epsilon=0.5, C=99, gamma=1)

In [15]:
regressor=svr_rbf.fit(X_train,y_train)
y_pred=svr_rbf.predict(X_test)

### Evaluation Metrics

In [16]:
from sklearn.metrics import mean_squared_error
# Mean squared error function loss
# The mean_squared_error function computes mean square error, a risk metric corresponding to the expected value of the squared (quadratic) error or loss
error = mean_squared_error(y_test, y_pred)
print('RBF model Test MSE: %.3f' % error)

RBF model Test MSE: 237.563

## Parameter tuning

### GridSearchCV

In [27]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.metrics import make_scorer

# SVR model
model=svm.SVR()
# dict of parameters
parameters={'kernel':['rbf'], 'gamma':['auto','scale'], 'epsilon':[0.01,0.05,0.5,1], 'C':[0.1, 1, 10, 100]}
# strategy to evaluate the performance of the cross-validated mode on the test set
scorer=make_scorer(mean_squared_error, greater_is_better=False)
# Build and fit the GridSearchCV
grid = GridSearchCV(estimator=model, param_grid=parameters, scoring=scorer, cv=KFold(n_splits=5))
grid_results = grid.fit(X, y)

best_param=grid_results.cv_results_['params'][grid_results.best_index_]
best_param

{'C': 100, 'epsilon': 1, 'gamma': 'scale', 'kernel': 'rbf'}

## SVR final parameters

In [17]:
svr=svm.SVR(kernel='rbf', epsilon=1, C=100, gamma='scale')

In [18]:
regressor=svr.fit(X_train,y_train)
y_pred=svr.predict(X_test)

In [19]:
from sklearn.metrics import mean_squared_error
# Mean squared error function loss
# The mean_squared_error function computes mean square error, a risk metric corresponding to the expected value of the squared (quadratic) error or loss
error = mean_squared_error(y_test, y_pred)
print('RBF model Test MSE: %.3f' % error)

RBF model Test MSE: 13.586

## Models for each type of day

### Weekdays

In [ ]:
for i in range(len(X)):
    if X.index

### Saturdays

### Sundays and Holidays

In [ ]:
def check_holiday(df,holi_df):
    
    index_to_drop = []
    count = 0
    for i in df['int_date'].values:
        if i in holi_df['int_date'].values:
            index_to_drop.append(count)
        count+=1
        
    dropped_df = df.drop(index_to_drop)
    
    return dropped_df