In [8]:
import numpy as np
import pandas as pd

dates = pd.date_range(start='1/1/2018', end='1/08/2018', periods=8)

In [9]:
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq=None)

In [12]:
df = pd.DataFrame(np.random.randn(8,4), index=dates, columns=['A', 'B', 'C', 'D'])

In [13]:
df

                   A         B         C         D
2018-01-01 -0.633834  0.344793  0.402191  1.267172
2018-01-02 -1.148354  0.924648  0.514478 -0.843226
2018-01-03  0.377939 -1.556583  0.343768 -0.792794
2018-01-04 -0.514527 -1.105700  0.416109 -0.542537
2018-01-05  0.127452 -1.077689 -0.040776 -1.682332
2018-01-06  1.671540 -0.727673 -0.171530 -0.488831
2018-01-07 -1.495780 -0.538423  0.182017  1.968882
2018-01-08 -1.719089  1.088292  1.880985  1.109159

In [15]:
series = df['A']
series.values

array([-0.63383445, -1.14835426,  0.37793879, -0.51452724,  0.12745168,
        1.67153959, -1.49578048, -1.71908864])

In [16]:
df1 = pd.DataFrame(series)

In [17]:
df1

                   A
2018-01-01 -0.633834
2018-01-02 -1.148354
2018-01-03  0.377939
2018-01-04 -0.514527
2018-01-05  0.127452
2018-01-06  1.671540
2018-01-07 -1.495780
2018-01-08 -1.719089

## Exemplo

In [18]:
X_Train = [1,2,3,4,5,6,7,8,9,10,11]

In [22]:
N = 4

In [23]:
res = X_Train[-N:]

In [24]:
res

[8, 9, 10, 11]